.vscode
.vs
**/.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# C extensions
*.so

*.7z
*.zip
**/CFExp
**/imgs
**/mask
**/runs
*.pth
probe
*.pt
detectron*
pytorch-mask*